#users-list  {
    border-top: none;
}

#users-list tr:first-child{
    background-color: #f2f2f2;
  }


#users-list tr:nth-child(even) td{
    background-color: #fff;
}

#users-list tr:nth-child(odd) td{
    background-color: #f2f2f2;
} 

#users-list tr:hover td{
    background-color: #bbb;
  }