.content form {
    display: flex;
    flex-direction: column;
    height: 50%;
    max-width: 330px;
    margin: 5px auto;
    color:  #2A4CAA; 
}

.input-container > input {
    height: 25px;
    outline: none;
    width: 100%; 
    background: transparent;
    border: none;
    margin: 0 1em 0.2em 0em;
    color: #2A4CAA;
}

.input-container { 
    margin: 10px auto;
    width: 90%; 
    margin-bottom: 20px; 
    border-bottom: 1px solid #2A4CAA;
    display: flex;
} 
  
.icon { 
    padding: 5px; 
    color: #2A4CAA;
    text-align: left; 
} 
