body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    padding: 10px 0;
    max-width: unset;

    justify-content: center;
    min-height: 100%;
    align-items: center;
    background-color: white;
}

.content {
    margin: auto;
    width: 70%;
    background-color: #F1F9FF;
    border: 1px solid #2A4CAA;
    text-align: center;
    
}

.actual-content {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    overflow-x: auto;
}

.content h2 {
    padding: 10px;
    margin-bottom: 0;
    min-width: 100%;
    overflow: hidden;
    color: #eee;
    text-align: center;
    background-color: #2A4CAA;
}

.menu-icon {
    display: none;
    float: right;
    justify-content: center;
}
