.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}    

.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 2px solid #bce0fd;
    border-radius: 6px;
    background: #ffffff;
    color: #2698fb;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
        
.select select::-ms-expand {
        display: none;
}
    
.select select:hover,
.select select:focus {
    color: #2698fb;
    background: #f6fbff;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0px;
    height: 0px;
    border: solid #2698fb;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #2698fb;
}

.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.inputs-container {
    display: flex;
    flex-direction: row;
}

.cr input[type=time] {
    font-family: 'Arial';
    display: block;
    width: 46%;
    padding: 10px 15px;
    outline: 0;
    border: 2px solid #bce0fd;
    border-radius: 6px;
    background: #ffffff;
    color: #2698fb;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 15px;
}

.cr input[type=text] {
    font-family: 'Arial';
    display: block;
    width: 100%;
    padding: 10px 15px;
    outline: 0;
    border: 2px solid #bce0fd;
    border-radius: 6px;
    background: #ffffff;
    color: #2698fb;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.cr button[type=submit] {
    background-color: #0fbe0f;
    width: 100%;
    margin-top: 15px;
    cursor: pointer;
}

.cr button[type=submit]:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.valid {
    border-color: "#0fbe0f";
}

.invalid {
    border-color: "#e61414";
}