#mytable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
  }
  
  
  #mytable td, #mytable th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #mytable tr:nth-child(odd) {
    background-color: white;
  }

  #mytable tr:nth-child(even){
      background-color: #f2f2f2;
    }
  
  #mytable tr:hover {
      background-color: #bbb;
  }
  
  #mytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2A4CAA;
    color: #eee;
    text-align: center;
  }

  .table-container {
    margin: 0 20px;
    min-width: 850px;
    max-width: 100%;
    height: auto;
    display: inline-block;
  }