.profile-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    margin-bottom: 20px;
    border: solid 1px #bbb;
}


.profile-table th {
    background-color: rgb(224, 221, 239);
    color: rgb(51, 75, 107);
    padding: 10px;
    text-align: left;
    border: solid 1px #bbb;
}

.profile-table td {
    background-color: #fff;
    border: solid 1px #bbb;
    color: black;
    text-align: right;
    padding: 10px;
}