.details-table {
    max-width: 550px;
}

.details-table tr th{
    max-width: 150px;
}

.details-table tr td{
    max-width: 150px;
}

.details-image {
    background-color: rgb(112, 169, 255);
    width: 30%;
    height: 400px;
}

.details {
    margin-left: 20px;
    padding: 0;
    text-align: left;
    width: 60%;
}

#details-button {
    width: 100%;
}

.details-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    margin-bottom: 20px;
    border: solid 1px #bbb;
    width: 100%;
}


.details-table th {
    background-color: rgb(224, 221, 239);
    color: rgb(51, 75, 107);
    padding: 10px;
    text-align: left;
    border: solid 1px #bbb;
}

.details-table td {
    background-color: #fff;
    border: solid 1px #bbb;
    color: black;
    text-align: right;
    padding: 10px;
}