
.flex-container {
    padding: 20px;
    display: flex;
}

.description {
    padding: 8px;
    display: block;
    height: 3rem;
    background-color: #2A4CAA;
    color: #eee;
    font-size: 0.8rem;
    width: 100%;
    position: absolute;
    bottom: -8px;
}

.miniature {
    opacity: 0.9;
    cursor: pointer;
    width: 100%;
    padding-bottom: 85%;
    position: relative;
    background-color: rgb(112, 169, 255);
}

.description:hover {
    cursor: pointer;
    color: yellow;
    background-color: rgb(43, 53, 180);
}

.miniature:hover {
    opacity: 1;
}

.miniature:hover .description {
    cursor: pointer;
    color: yellow;
    background-color: rgb(43, 53, 180);
}

.section {
	clear: both;
	padding: 0px 20px;
    margin: auto;
}

.col {
	display: block;
	float:left;
    margin: 0.1% 0.1% 0.1% 0.1%;
    padding: 5px;
}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_1_of_3 { width: 33.1%; padding: 3px;}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}