
button {
    width: 90%;
    margin: 5px auto;
    color: #eee;
    background: #143AA1 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0.2em;
    border: none;
    margin-bottom: 10px;

    line-height: 2.5em;
    font-size: 1em;
}

button:hover {
    opacity: 0.9;
}

label {
    text-align: left;
    padding: 0;
}






      

    