.topnav {
    overflow: hidden;
    background-color: #2A4CAA;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: yellow;
    background-color: rgb(43, 53, 180);
}

.topnav a.active {
    background-color: #2A4CAA;
    color: #eee;
}

.topnav .icon {
    display: none;
}

.topnav-header {
    display: none;
}

@media screen and (min-width: 600px) {
    #myLinks {
        display: block;
    }
}


@media screen and (max-width: 850px) {
    .topnav a {
        font-size: 12px;
        padding: 12px 12px;
    }
}