@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
        height: 100%;
        background-color: #F1F9FF;
    }

    body::-webkit-scrollbar {
        display: none;
    }

    .container {
        padding: 0;
        width: 100%;
        height: 56%;
    }

    .content {
        border: none;
        width: 100%;
        height: 100%;
        
    }


    .header {
        display: none;
    }

    form {
        width: 100%;
    }


    .content h2 {
        display: none;
    }

    .content .login-header {
        display: block;
    }
}