@media screen and (max-width: 850px) {
    .flex-container {
        flex-direction: column;
    }

    .details-image {
        width: 100%;
        height: 400px;
        display: block;
    }
    
    .details {
        text-align: left;
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .details-table {
        width: 100%;
    }
}
