@media screen and (max-width: 600px) {
    .topnav {
        overflow: hidden;
        background-color: #2A4CAA;
        position: relative;
        width: 100%;
        min-height: 50px;
        display: block;
    }

    
    #myLinks {
        margin-top: 50px;
        display: none;
    }
    
    .topnav #myLinks a {
        color: #eee;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
        text-align: center;
        width: 100%;
        border-top: 1px black solid;
        background-color: rgb(69, 99, 182);
    }

    .topnav #myLinks a:hover {
        color: yellow;
        background-color: rgb(43, 53, 180);
    }


    
    .topnav-header {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-around;
        background-color: #2A4CAA;
        position: absolute;
        right: 0;
        height: 50px;
        width: 100%;
    }

    .topnav-header h2{
        font-size: 1.6rem;
        padding: 8px 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #2A4CAA;
        color: #eee;
        display: block;
        position: relative;
        float: left;
        margin: auto;
    }

    .topnav-header a.icon {
        background-color: #2A4CAA;
        display: block;
        right: 0;
        top: 0;
        font-size: 16px;
        width: 50px;
        height: 100%;
        margin: auto;
    }

    .topnav-header a.icon:hover {
        color: yellow;
        background-color: rgb(43, 53, 180);
    }
    
}


